# Data Science Tools and Ecosystem

### Below are a few examples of evaluating arithmetic expressions in Python

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

- list popular langauages for Data Science
- List commonly used libraries
- Create tables of Data Science tools
- Perform simple arithmetic experessions
- Convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- Matplotlib
- Scikit-learn

| Data Science Tools|
|-------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [2]:
200/60

3.3333333333333335

## Author: 

Ugochukwu Tochukwu Duru